# =========================
# APP
# =========================
PORT=3000
TZ="America/Argentina/Buenos_Aires"
NODE_ENV=development

# =========================
# DATABASE
# =========================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=elementall
MYSQL_USER=app
MYSQL_PASSWORD=

DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=app
DATABASE_PASSWORD=
DATABASE_NAME=elementall

DATABASE_URL="mysql://app:password@mysql:3306/elementall"

# =========================
# AUTH
# =========================
JWT_SECRET=

# =========================
# CORS
# =========================
FRONTEND_URL=http://localhost:5173

# =========================
# BACKEND PUBLIC URL (NGROK)
# =========================
BACKEND_TUNNEL_URL=

# =========================
# EMAIL (SMTP)
# =========================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=

# Si fuera con outlook sería así
# EMAIL_HOST=smtp.office365.com
# EMAIL_PORT=587
# EMAIL_SECURE=false

# =========================
# PAYMENTS
# =========================
MP_ACCESS_TOKEN=
